<head>
    <meta charset="UTF-8">
    <title>Cubicle</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>